@page "/Subgrids";
@using CyberpunkServer.Models.DTO;
@using Cyberpunk_Server_Blazor.Data;
@using Microsoft.EntityFrameworkCore;
@using Cyberpunk_Server_Blazor.Pages.Electronics
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject IDbContextFactory<CyberpunkServer.Models.CyberpunkEntities> db
@inject NavigationManager MyNavigationManager



<select @onchange=changeParameter>
    <option value="-1">--- Select Subgrid ---</option>
    @foreach(var grid in subgrids)
    {    
        <option value="@grid.id">@grid.Name</option>
    }
</select>
@childContent

@code {
    private int currentKey = -1;
    private int lastKey = -1;
    private List<SubgridData> subgrids = new List<SubgridData>();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Inject]
    UserManager<IdentityUser> userManager { get; set; }

    private string textContent = "";
    private RenderFragment childContent { get; set; }
    private Dictionary<int, RenderFragment> SubgridLookup = new Dictionary<int, RenderFragment>();

    private RenderFragment AddContent() => builder =>
    {

        builder.AddContent(1, textContent);
    };

    void changeParameter(ChangeEventArgs e)
    {
        string value = e.Value?.ToString() ?? "0";
        currentKey = Int32.Parse(value);
        if (SubgridLookup.ContainsKey(currentKey))
        {
            childContent = null;//unloads the current component.
            
           
            Task.Run(() =>
            {
                Task.Delay(10);//wait for the component to realize this and not try to "help" me by just changing the fecking parameter.
                InvokeAsync(() =>
                {
                    childContent = SubgridLookup[currentKey];//change the child content on the main thread
                    StateHasChanged();//and notify that this has happened.
                });
                
            });
        }
        else
        {
            childContent = null;
        }

        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        bool isLoading = false;
        if (isLoading)
        {
            return;
        }
        try
        {
            isLoading = true;
            var user = (await authenticationStateTask).User;
            childContent = null;
            using (var ctx = db.CreateDbContext())
            {
                subgrids = ctx.Subgrid.Where(x => x.UserID == user.FindFirst(ClaimTypes.NameIdentifier).Value).Select(x => (SubgridData)x).ToList();
                
            }
            subgrids.ForEach(x => SubgridLookup.Add(x.id,@<Subgrid SubgridID=x.id />));
        }
        catch(Exception ex)
        {
        }
    }
}