@page "/"

<style>
	body {
		background-repeat: no-repeat;
		min-height: 90vh;
		background-size: cover;
		background-position: -5px -232px;
	}
</style>

<div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
	<div class="col-md-6 text-center">
		<h3>Welcome Cyberpunks to your Dystopian World</h3>
	</div>
</div>
