<h3>Goon Generator/Fast and Dirty Expendables</h3>
<div goonDiv>
    @for(var i=0;i<numGoons;i++)
    {
        <GoonGenerator></GoonGenerator>
    }
    <button @onclick="addGoons" style="width: 100%;font-size: 1.5em;background-color: var(--primary);color: white;border-radius: 5px;border: solid 1px black;">
        <i class="fa fa-plus"></i>
    </button>
</div>
@code {

    int numGoons = 0;
    void addGoons()
    {
        numGoons++;
    }
}
